In [23]:
import pandas as pd

training_data = [
({'level':'Senior', 'lang':'Java', 'tweets':'no', 'phd':'no'}, False),
({'level':'Senior', 'lang':'Java', 'tweets':'no', 'phd':'yes'}, False),
({'level':'Mid', 'lang':'Python', 'tweets':'no', 'phd':'no'}, True),
({'level':'Junior', 'lang':'Python', 'tweets':'no', 'phd':'no'}, True),
({'level':'Junior', 'lang':'R', 'tweets':'yes', 'phd':'no'}, True),
({'level':'Junior', 'lang':'R', 'tweets':'yes', 'phd':'yes'}, False),
({'level':'Mid', 'lang':'R', 'tweets':'yes', 'phd':'yes'}, True),
({'level':'Senior', 'lang':'Python', 'tweets':'no', 'phd':'no'}, False),
({'level':'Senior', 'lang':'R', 'tweets':'yes', 'phd':'no'}, True),
({'level':'Junior', 'lang':'Python', 'tweets':'yes', 'phd':'no'}, True),
({'level':'Senior', 'lang':'Python', 'tweets':'yes', 'phd':'yes'}, True),
({'level':'Mid', 'lang':'Python', 'tweets':'no', 'phd':'yes'}, True),
({'level':'Mid', 'lang':'Java', 'tweets':'yes', 'phd':'no'}, True),
({'level':'Junior', 'lang':'Python', 'tweets':'no', 'phd':'yes'}, False)
]
data=[]
class_level=[]
for i in range(len(training_data)):
    data.append(training_data[i][0])
    class_level.append(training_data[i][1])
    
df=pd.DataFrame(data)
df['class']=class_level
df.head()

    level    lang tweets  phd  class
0  Senior    Java     no   no  False
1  Senior    Java     no  yes  False
2     Mid  Python     no   no   True
3  Junior  Python     no   no   True
4  Junior       R    yes   no   True

In [31]:
def find_total_entropy(data):
    values=data['class'].unique()
    e=0
    for v in values:
        prob = data['class'].value_counts()[v]/len(data['class'])
        e += -prob*np.log2(prob)
    return e
find_total_entropy(df)

0.9402859586706311

In [53]:
def find_attribute_entropy(data,attribute):
    class_values=data['class'].unique()
    attribute_values=data[attribute].unique()
    te=0
    for values in attribute_values:
        e=0
        for c in class_values:
            num = len(data[attribute][data[attribute]==values][data['class'] ==c])
            den = len(data[attribute][data[attribute]==values])
            prob = num/(den)
            if(num==0):
                e=0
                break
            e += -prob*np.log2(prob)
        prob2 = den/len(data)
        te += -prob2*e
    return abs(te)

find_attribute_entropy(df,'level')

0.6935361388961918

In [62]:
def tree_node(data):
    entropy=[]
    gain=[]
    for k in data.keys()[:-1]:
        gain.append(find_total_entropy(data)-find_attribute_entropy(data,k))
    return data.keys()[:-1][np.argmax(gain)] 
                    
        
tree_node(df)

'level'

In [66]:
def find_subtree(data,attribute,value):
    return data[data[attribute] == value].reset_index(drop=True)
find_subtree(df,'level','Mid')

  level    lang tweets  phd  class
0   Mid  Python     no   no   True
1   Mid       R    yes  yes   True
2   Mid  Python     no  yes   True
3   Mid    Java    yes   no   True

In [80]:
def buildTree(df,tree=None): 
    winner = tree_node(df)
    attValue = np.unique(df[winner])
    if tree is None:                    
        tree={}
        tree[winner] = {}
        tree[winner][None] = df[[winner,'class']]['class'].value_counts().idxmax()
    for value in attValue:
        subtree = find_subtree(df,winner,value)
        clValue,counts = np.unique(subtree['class'],return_counts=True)                        
        if len(counts)==1:
            tree[winner][value] = clValue[0]                                                    
        else:
            tree[winner][value] = buildTree(subtree)            
    return tree
tree=buildTree(df)
print(tree)

{'level': {None: True, 'Junior': {'phd': {None: True, 'no': True, 'yes': False}}, 'Mid': True, 'Senior': {'tweets': {None: False, 'no': False, 'yes': True}}}}

In [100]:
test={"level": "Junior"} 
def func(test, tree, default=None):
    attribute = next(iter(tree)) 
    #print(attribute) 
    if attribute not in test.keys():
         return tree[attribute][default]
    if test[attribute] in tree[attribute].keys():
        #print(tree[attribute].keys())
        #print(test[attribute])
        result = tree[attribute][test[attribute]]
        if isinstance(result, dict):
            return func(test, result)
        else:
            return result
    else:
        return tree[attribute][default]
ans = func(test, tree)
print(ans)

True